doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title schoo-gnav
    meta(content='width=device-width, initial-scale=1' name='viewport')

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='styles/style.css', media='all')
    link(rel="import" href="import/biz.html")
    link(rel="import" href="import/dog.html")
    link(rel="import" href="import/htl.html")
  body.biz
    .container
      article.main
        header.header.section
          .header__top.top#js-change
          nav
            ul.gnav
          .hero
            img.hero__img(src="images/biz-hero.jpg")

        - var cat = ['work', 'post']
        - var headings = ['Vestibulum Euismod Commodo Aenean', 'Bibendum Fringilla', 'Sem Fusce Ultricies']
        - var bodies = ['Nulm id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.', 'Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Vestibulum id ligula.', 'Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh, ut fermentum massa justo sit amet risus.']
        - for(var i = 0; i < 2; i++)
          section.section.content-box
            .section__header
              h1.section__title
                span recent #{cat[i]}s
              .arrow
                a.arrow__item(href="#")
                a.arrow__item(href="#")
            .section__body
              - for(var j = 0; j < 3; j++)
                .item
                  a(href="#")
                    img.item__img(src="images/biz-#{cat[i]}-#{j+1}.jpg")
                  if j === 0
                    h2.item__title--primary #{headings[0]}
                  else
                    h2.item__title--secondary #{headings[j]}
                  p.item__body #{bodies[j]}

        footer.footer.section
          span.cpr © 2011 Metronomy. All Rights Reserved.
          a.go-top(href="#")

      section.side
        h1.logo
          img(src="images/biz-logo.jpg")
        section.section.list
          nav
            ul.nav
              each item in ['home', 'about us', 'our works', 'services', 'journal', 'contact us']
                li.nav__item
                  a(href="#") #{item}
        section.section
          h1.section__title
            span popular posts
          ul.pop
            - var items = ['Magna Ullamcorper Dolor Fermentum', 'Commodo Fusce Dolor Adipiscing', 'Quam Inceptos Lorem Tortor Risus']
            each item, i in items
              li.pop__item
                a.pop__img(href="#")
                  img(src="images/biz-pop-#{i+1}.jpg")
                .pop__body
                  p #{item}
        section.section
          h1.section__title
            span search
          form.srch-box
            .srch-box__input
              input
              .fa.fa-search
        section.section.cat
          h1.section__title
            span categories
          ul
            - var items = ['Commodo Fusce (12)', 'Dolor Adipiscing (45)', 'Quam Inceptos (17)', 'Lorem Tortor Risus (24)', 'Elit Vestibulum Justo (32)', 'Egestas Inceptos Lorem (21)']
            each item in items
              li.cat__item
                a(href="#") #{item}
        section.section
          h1.section__title
            span sponsors
          .sp
            - for (var i = 0; i < 2; i++)
              a.sp__img(href="#")
                img(src="images/biz-sp-#{i+1}.jpg")

    .select
      select#js-theme
        - var select = ['biz', 'dog', 'htl']
        - var text = ['ビジネス', '盲導犬', '旅館']
        each s, i in select
          option(value="#{s}") #{text[i]}
      .fa.fa-chevron-down

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src='scripts/script.js')
